.container {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 120px 100px 60px 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.titre {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 20px;
    text-align: left;
    position: relative;
    z-index: 2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    position: relative;
    z-index: 2;
}

.bg-circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    filter: blur(140px);
    opacity: 0.12;
    pointer-events: none;
    z-index: 0;

    animation: float 14s ease-in-out infinite;
}

.circle-1 {
    width: 500px;
    height: 500px;
    top: 100px;
    right: -150px;
}

.circle-2 {
    width: 420px;
    height: 420px;
    top: 900px;
    left: -120px;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}