.container {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 120px 100px 60px 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(rgba(255, 255, 255, 0.025) 1px,
            transparent 1px);
    background-size: 6px 6px;
    pointer-events: none;
    z-index: 1;
}

.titre {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 20px;
    text-align: left;
    position: relative;
    z-index: 2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    position: relative;
    z-index: 2;
}

.blob1 {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: #ffffff;
    filter: blur(120px);
    opacity: 0.26;
    top: -120px;
    left: -120px;
    z-index: 0;
}

.blob2 {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: #ffffff;
    filter: blur(55px);
    opacity: 0.15;
    top: 100px;
    right: 150px;
    z-index: 0;
}



@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}