.titre {
    font-size: 32px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: 60px;
    text-align: left;
    position: relative;
}

.affichageHorizontal {
    display: flex;
    justify-content: center;
    width: 100%;
}