.titre {
    font-size: 32px;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: 60px;
    text-align: left;
    position: relative;
}

.affichageHorizontal {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fadeIn {
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.8s ease forwards;
}

.fadeInDelay {
    opacity: 0;
    transform: translateY(30px);
    animation: apparition 0.8s ease forwards;
    animation-delay: 0.2s;
}

@keyframes apparition {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}